@model UTT.Models.UTTModel

@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <title>Home Page</title>
      <script src="~/Scripts/jquery-1.8.2.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('input[name=selection]').click(function(){
                    if ($(this).val() == "top") {
                        $('#travbox').show();
                        $('#custidbox').hide();
                    } else {
                        $('#travbox').hide();
                        $('#custidbox').show();
                    }
                });
            });
        </script>
    </head>

<body >
<div class="body">

    @*<form  name="sws">*@
<h2 style="color:white;"> Unused Ticket Search</h2>
<span style="background-color:Yellow; color:Red; margin:1em;">@ViewBag.message</span><br /><br />
    
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { name="sws"}))
{
<span style="color:white;" >
    Type(s) of Unused Tickets to be Displayed
    <br /> 
    <select name="UTTSelect">
        <option value="OpenPartial">Open and Partially Open</option>
        <option value="Used">Used/Exchanged/Refunded</option>
        <option value="All">All</option>
                                             </select>
    <br />
    <br />

<input type="radio" name="selection" value="top" checked="checked"  style="width:20px;background-image:url('../Images/backgroundcolor.JPG'); border:none" /> Enter the Traveler Email 
    <br />
    @* @Html.TextBox("traveler", null, new { style = "width:200px; font-size:small;" })*@
    <input type="text" name="traveler" id="travbox" style="width:200px; font-size:small;"/>
   <br />

    <br />
   <input type="radio" name="selection" value="bottom"  style="width:20px;background-image:url('../Images/backgroundcolor.JPG');border:none;" />   Customer ID
    <br /> 
   <input type="text" name="custid" id="custidbox"  style="width:100px; font-size:small;display:none" />
<br />
    Carrier Code(Optional) 
    <br />@Html.TextBox("airline",null,new{style="width:50px;font-size:small;"})
    <br />
   
<button type="submit">Display</button></span>
}@*</form>*@
</div>
</body>
</html>