@model UTT.Models.UTTModel

@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <title>Home Page</title>
       
    </head>

<body >
<div class="body">

    @*<form  name="sws">*@
<h2 style="color:white;"> Unused Ticket Search</h2>
<span style="background-color:Yellow; color:Red; margin:1em;">@ViewBag.message</span><br /><br />
    
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { name="sws"}))
{
<span style="color:white;" >
Enter the <br />
Traveler Email @Html.TextBox("traveler", null, new { style = "width:200px; font-size:small;" })
   <br />
    Or
    <br />
      Customer ID @Html.TextBox("custid",null,new{style= "width:100px;font-size:small;"})
<br />
    Carrier Code(Optional for both) @Html.TextBox("airline",null,new{style="width:50px;font-size:small;"})
    <br />
    Type(s) of Unused Tickets to be Displayed <select name="UTTSelect">
        <option value="OpenPartial">Open and Partially Open</option>
        <option value="Used">Used/Exchanged/Refunded</option>
        <option value="All">All</option>
                                             </select>
    <br />
<button type="submit">Display</button></span>
}@*</form>*@
</div>
</body>
</html>